@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

body {
    background-color: #0c0a09;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
}