@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NO:wght@100..400&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

body {
    background-color: #0c0a09;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
}

.mapboxgl-ctrl-geolocate {
    display: none !important;
}

.bbh-hegarty-regular {
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@layer utilities {
    .scrollbar-custom::-webkit-scrollbar {
        display: block;
        width: 8px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: #1c1917;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.171);
        border-radius: 4px;
    }
}
